<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45041686936-sqe3tgiteqh0dj4dvmgjrhtcskhg2rsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45041686936-sqe3tgiteqh0dj4dvmgjrhtcskhg2rsd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45041686936-c1lmgv253aeg5otq3maconsommbjn23p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBidMWLN_SYei6JBT8ulaly62Hn5AvVGPI</string>
	<key>GCM_SENDER_ID</key>
	<string>45041686936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleLogin</string>
	<key>PROJECT_ID</key>
	<string>login-3c8fb</string>
	<key>STORAGE_BUCKET</key>
	<string>login-3c8fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45041686936:ios:4841643e95742e19b0b3ed</string>
	<key>DATABASE_URL</key>
	<string>https://login-3c8fb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>